@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
 font-family: "Inter", sans-serif;
}


/* nav style */
.navbar {
    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
   
} 
.fiter {
    text-decoration: none;
    margin: 20px;
   
}
.container {
    max-width: 1440px;
    height: 715px;
}
.content {
    display: flex;
    list-style: none;
    align-items: center;  
    margin: 0 200px; 
}
.mein {
    font-size: 35px;
    font-weight: 800;
    color: #E6533C;
}
.color {
    width: 90px;
    height: 37px;
    background-color: #E6533C;
    color: white;
    border-radius: 46px;
    border: none;
}
/* nav ses */