@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
 font-family: "Inter", sans-serif;
}


/* nav style */
.navbar {
    width: 1160px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    
   
} 
.fiter {
    text-decoration: none;
    margin: 20px;
    color: white;
   
}
.container {
    max-width: 1440px;
    height: 715px;
    background-color: black;
    margin-left: 100px;
}
.content {
    display: flex;
    list-style: none;
    align-items: center;  
    margin: 0 200px; 
    margin-top: 65px;
}
.mein {
    font-size: 35px;
    font-weight: 800;
    color: #E6533C;
    margin-top: 100px;
}
.color {
    width: 90px;
    height: 37px;
    background-color: #E6533C;
    color: white;
    border-radius: 46px;
    border: none;
}
/* nav ses */

/* title section suru */
.title {
    max-width: 1160px;
    height: 715px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.image {
    width: 390px;
    height: 580px;
  
}
.img {
    margin-left: 160px;

}
.img-box {
    width: 206px;
    height: 96px;
    margin-top: -150px;
    margin-left: 150px;
    color: white;

   
}
.img-1 {
    
}

.div {
    margin-top:-10px;
    
}
.shop {
    font-size: 78px;
    font-weight: 900;
    color: white;
}
.tiyp {
    color: white;
}
.btn {
    font-size: 18px;
    font-weight: 600;
    width: 224px;
    height: 54px;
    background-color: #E6533C;
    color: #FFFFFF;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    margin-left: 14px;
    
}
.bnt {
    font-size: 18px;
    font-weight: 400;
      width: 224px;
    height: 54px;
    background-color: #e6533c2a;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
     
}

/* title ses */


/* subtitle section suru */
.subtitle {
  
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
  
}
.reacev-container {
    display: flex;
    width: 1044px;
    height: 273px;
    margin-left: 180px;
    margin-top: 58px;
    margin-bottom: 50px;
    
}
.distube {
    background-color: black;
  
}
.cap {
    border-radius: 100px;
}

/* title ses */


/* description suru */
 .description {
    width: 1060px;
    height: 371px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: left;
    margin-left: 250px;
    margin-top: 102px;
 }
 .role {
    font-size: 48px;
    font-weight: 900;
 }
 .tim {
    font-size: 14px;
    font-weight: 200;
    margin-top: -20px;
   
 }



.iner {
    width: 336px;
    height: 312px;
    border-radius: 18px;
  

}
.tion {
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    background-color: #E6533C;
    border-radius: 42px;
    margin-top: 15px;
}
.sstti {
    margin-top: -40px;
}
/* description ses */


/* lainer section suru */
.line {
    width: 661px;
    height: 119px;
    margin-left:190px;
    margin-top: 100px;
    color: white;
}
.lin {
    font-size: 16px;
    font-weight: 400px;
    opacity: 0.8;
}
.img-bic{
    width: 250px;
    height: 201px;

}
.img-gic {
    width: 529px;
    height: 201px;
}
.img-dic {
    width: 198px;
    height: 201px;
} 

.img-top {
    width: 400px;
    height: 201px;
}
.img-fot {
    width: 250px;
    height: 201px;
}
.img-got {
    width: 327px;
    height: 201px;
}

.title-lainer {
    margin-left: 190px;
    margin-top: 58px;
}

/* lainer section ses */


/* title section suru */
.title-team {
    width: 671px;
    height: 119px;
    margin: 0 auto;
    color: white;
    margin-top: 140px;
    text-align: center;
}
.team {
    font-size: 48px;
    font-weight: 900;
}
.taem {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 10px;
    
}
.container-team {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1060px;
    height: 604px;
    margin-left: -200px;
 
}

.content-team  {
    width: 327px;
    height: 272px;
    background-image: url(../images/trainer1.png);
   background-size: cover;
   border-radius: 18px;
   margin-top: 58px;
}
.content-tam {
    width: 327px;
    height: 272px;
    background-image: url(../images/trainer2.png);
    background-size: cover;
    border-radius: 18px;
    margin-top: 60px;
}
.content-tem {
       width: 327px;
    height: 272px;
    background-image: url(../images/trainer3.png);
    background-size: cover;
    border-radius: 18px;
    margin-top: 60px; 
}
.content-teim {
    width: 327px;
    height: 272px;
    background-image: url(../images/trainer4.png);
    background-position: right;
    background-size: cover;
    border-radius: 18px;
    margin-top: 60px; 
}
.content-tiam {
    width: 327px;
    height: 272px;
    background-image: url(../images/trainer5.png);
    background-size: cover;
    border-radius: 18px;
    margin-top: 60px; 
}
.content-tema {
     width: 327px;
    height: 272px;
    background-image: url(../images/trainer6.png);
    background-size: cover;
    border-radius: 18px;
    margin-top: 60px; 
}
.chip {
    margin-left:-160px; 
   padding: 200px 100px 100px 200px;
   text-align:left;
   
}
.chip p {
    font-size: 14px;
    font-weight: 200;
    
}

/* title ses */

/* assiment suru */
.coler {
    font-size: 70px;
    font-weight: 900;
    color: red;
    margin-top: 2x;
    
}
.assiment {
    width: 1440px;
    height: 489px;
    margin-top: 800px;
   
    color: white;
}
.assi {
    width: 443px;
    height: 176px;
    margin-left: 190px;
    margin-top: 66px;

}
.voi {
    font-size: 16px;
    font-weight: 100;
    margin-top: -20px;
}

    
td,th {
  
    padding: 10px 20px;
    gap: 152px;
}
th{
    font-size: 24px;
    font-weight: bold;
    
}

td {
    font-size: 14px;
    font-weight: 200;
    opacity: 0.9px;
   
}
.border {
    width: 514px;
    height: 249px;
    padding-left: 735px;
   margin-top: -200px;

}
.clas {
    color: white;
   margin-left: 500px;
   margin-top: -180px;
   font-size: 20px;
   font-weight: 400;
   
}
